.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.divImg{
    margin: 0vh 0vh 0vh 5vh
}

.HeaderNav{
    display: flex;
    margin: 0vh 5vh 0vh 0vh;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.HeaderUl{
    display: flex;
    gap: 10vh;
}

.HeaderLi{
    list-style-type: none;
    font-size: 17pt;
    font-family: monospace;
}

.dropdownUL{
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.dropdownLI{
    list-style-type: none;
    position: relative;
    padding: 1.2vh;
    min-width: 6.5vh;
    max-width: 20vh;
    border-bottom: 2px #ccc solid;
    font-size: 13pt;
    font-family: monospace;
    font-weight: 500;
    color: black;
}
.dropdownLI:last-child{
    border-bottom: none;
}

.HeaderLi:hover .dropdownUL{
    display: block;
}

@media (min-width: 400px) and (max-width: 780px){
    .Header {
        flex-direction: row;
        align-items: flex-start;
        min-height: 8vh;
    }

    .divImg {
        display: none; 
    }

    .HeaderNav {
        width: 70%;
        justify-content: flex-start;
    }

    .HeaderUl {
        display: flex;
        flex-direction: row;
        gap: 5vh;
        width: 70%; 
        
    }

    .HeaderLi {
        font-size: 12pt;
        width: 50%; 
    }

    .dropdownUL {
        position: static; 
        box-shadow: none;
        display: none;
        width: 70%;
    }

    .HeaderLi:hover .dropdownUL {
        display: block;
    }

    .dropdownLI {
        font-size: 9pt;
        width: 10%; 
    }
}