body{
    margin-left: 15vh;
    margin-bottom: 15vh;
    background-color: #0C1839;
}


h2{
    margin-left: 1vh;
    font-weight: 500;
    font-size: 5vh;
}

strong{
    color: #132456;
}

.button-compra{
    background-color: #0C1839;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    border: solid black ;
    border-radius: 5px;
    cursor: pointer;
    width: 50%; 
    margin-top: auto; 
    text-decoration: none; 
}

.button-div{
    display: flex;
    justify-content: center;
    align-items: center;
}


.title{
    line-height: 60px;
}

.home{/*A parte principal*/
    display: flex;
    flex-direction: column; 
    width: 27%;
}

.sobre{ /* Lorepsum */
    margin-top: 50px;
    text-align:center ;
}   

.div-compras{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80%;
    border-radius: 20px;
    background-color: #132456;
}

.comprar-div-img-1 {
    display: flex;
    align-items: center;
    width: 60%;
    height: 80vh;
    border-radius: 12px;
}

.comprar-div-img-1 > img {
    width: 110vh;
}

.comprar-div-img-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 80vh;
    border-radius: 12px;
}

.comprar-div-img-2 > img {
    width: 80vh;
}

.comprar-infos {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 38%;
    height: 80%;
    background-color: white;
    border-radius: 7px;
}

.div-goback> a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2vh;
    margin-left: 1vh;
    margin-top: 1vh;
}

.div-goback > a > img{
    width: 5vh;
}

.button-back{
    color: black;
}   

.span-principal{
    font-size: 3vh;
}

.div-preco{
    margin-left: 1vh;
    justify-content: center;
}

.div-entregas{
    margin-left: 1vh;
}

.div-estoque {
    display: flex;
    flex-direction: column;
    margin-left: 1vh;
    gap: 2vh;
}   

.content-icon{
    margin-left: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.div-dados{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-left: 1vh;
}

.div-entregas > .content-icon >img{
    width: 4vh;
}

.teste{
    height: 20%;
}

@media screen and (max-width: 1020px){


    body{
        
        margin: 0;
    }


    
    .comprar-div-img, .comprar-infos, .div-compras{
        height: 130vh;
        width: 100%;
    }


    .div-compras{
        display: flex;
        flex-direction: column;        
    }

    

    .title-product{
        align-items: center;
        justify-content:flex-start;
        color:#132456;
        width: 10px;
    }

    .div-entregas{
        font-size: 15px;
    }
    
    .button{
        padding: 15px;
 
    }

}

/* Só pra dar 200 Linhas */
/* Só pra dar 200 Linhas */
/* Só pra dar 200 Linhas */