img{
    width: 15vh;
    min-width: 1vh;
}

.nav-list{
    
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: wheat;

}


a{
    font-size: 23px;
    text-decoration: none;
    color: white;
}


li{
    display: inline-block;
    padding: 22px;
    margin: 2vh;
    transition: background-color 0.5s ease;

}

li:hover{
    background-color: #0072ff;
}


ul{
    margin-right: 22vh;
}

.mobile-menu-icon {
    display: none;
}

.menu-ico{
    width: 9vh;
}
.mobile-menu{
    display: none;
}

@media screen and (max-width: 730px){
    body{
        margin: 0;
    }

    .ul-resp{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .open{
        display: block;
    }

}