body{
    margin-left: 15vh;
    margin-bottom: 15vh;
    background-color: #0C1839;
}

main{
    display: flex;
    flex-direction: column;
    gap: 20vh;
}

section {
    display: flex;      
    width: 90%;
    min-height: 90%;
    background-color: #132456;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

strong{
    color: #0072ff;
}

.div-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    color: white;
    width: 70%;
    gap: 15vh;
}

.div-content{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    border-radius: 12px;
    color: white;
    text-align: center;
    font-size: 32px;
}

.div-img > h2{
    font-size: 60px;
}

.button-go{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0C1839;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    border: solid #132456 ;
    border-radius: 5px;
    cursor: pointer;
    width: 50%; 
    margin-top: 5vh; 
    text-decoration: none; 
    transition: background-color 0.7s ease;
}

.button-go:hover{
    background-color: #0072ff;

}

#waterpods {
    width: 90vh;
}

#watermax{
    width: 60vh;
}

@media screen and (max-width: 1020px){

    body{
        margin: 10vh;
    }

    section{
        width: 100%;
        flex-direction: column;
        padding: 2vh; 
    }

    .div-img{
        align-items: center;
        justify-content: center;
        margin: 8vh; 
    }

    .div-img > h2 {
        margin: 0; 
        font-size: 30px;
        text-align: center; 
    }

    .div-content{
        justify-content: center;
        align-items: center;
        margin: 0 auto; 
        padding: 0 5vh; 
        text-align: center; 
    }

    .div-content > p {
        width: 50vh;
        text-align: start;
    }
    
    #waterpods {
        width: 70vh;
    }

    #watermax{
        width: 50vh;
    }

}